.movie-wrapper{
    width: 21%;
    margin-bottom: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--card-background);
    text-align: center;
    color: var(--font-color);
}
.movie-title {
    margin-top: 2rem;
    font-size: x-large;
    letter-spacing: 4px;
    font-weight: bold;
}

.movie-year, .movie-type {
    margin-top: 1rem;
    font-size: larger; 
}

.movie-image{
    width: 100%;
}

